* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

 body {
  /* color: #333333; */
   /* background-color:#C0B0A9; */
   font-family: 'Inter', sans-serif;
   background-color: #56627A;
   color: #E0DBD9;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
} 

.profile-intro {
  text-align: center;
  padding-top: 1em;
  border: 1px solid green;
}

/*==Main==*/

.container {
  border: 1px solid goldenrod;
  width: 90%;
  max-width: 875px;
  margin: 0 auto;
}


