.name {
  font-size: 1.6rem;
}

.subtitle {
  font-size: .9rem;
  font-weight: 400;
  margin-top: .2em;
}

.subheadings {
  font-size: 1.25rem;
}

.social-media-image-one {
  width: 15px;
}

.profile-main {
  line-height: 1.5;
    padding: .5em 1em;
  }

.info {
  margin: .25em 0;
  font-size: .85rem;
}

.icons-container {
  display: flex;
  justify-content: center;
  gap: .65em; 
  padding: .5em 0;
}

.social-media-links {
  background-color:#E0DBD9;
  font-weight: bold;
  color: #56627A;
  display: flex;
  align-items: center;
  gap: .5em;
  padding: .5em 1em;
  border-radius: 5px;
}

