* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  /* color: #333333; */
   /* background-color:#C0B0A9; */
   font-family: 'Inter', sans-serif;
   /* background-color: #56627A; */
   color: #E0DBD9;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
} 

.profile-intro {
  text-align: center;
  padding-top: .5em;
}

/*==Main==*/

.container {
  width: 67%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #56627A;
  /* border-top-left-radius: 9px;
  border-top-right-radius: 9px; */
}


